.TodoListContainer {
  margin: 0 auto;
  width: 100%;
  display: column;
  padding-top: 5rem;
}

.TodoListContainer input{
  width: 80%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.TodoListContainer button{
  width: 10%;
}
